@use 'sass:map';
@use 'variables' as *;
@use 'functions' as *;

@mixin hover($include-focus-visible: true) {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @if $include-focus-visible {
        &:focus-visible {
            @content;
        }
    }
}

@mixin section-padding($top: 96px, $right: 0, $bottom: 0, $left: 0) {
    padding: $top $right $bottom $left;
}

@mixin media-breakpoint-up($name) {
    @media (min-width: #{map.get($breakpoints, $name)}px ) {
        @content;
    }
}

@mixin media-breakpoint-down($name) {
    @media (max-width: #{map.get($breakpoints, $name) - 0.02}px) {
        @content;
    }
}

@mixin media-breakpoint-range($from, $to) {
    @include media-breakpoint-up($from) {
        @include media-breakpoint-down($to) {
            @content;
        }
    }
}

@mixin font-size($desktop, $mobile: null, $property: 'font-size') {
    @if $mobile == null {
        $mobile: $desktop;
    }
    
    & {
        #{$property}: rem($mobile);
    }

    @include media-breakpoint-up(xl) {
        #{$property}: rem($desktop);
    }
}

@mixin line-height($desktop, $mobile: null) {
    @if $mobile == null {
        $mobile: $desktop;
    }

    & {
        line-height: $mobile;
    }

    @include media-breakpoint-up(xl) {
        line-height: $desktop;
    }
}

@mixin hiddenNativeScrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
}
