$base-font-size: 16px;
$base-line-height: 1;

$breakpoints: (
    xs: 320px,
    sm: 480px,
    md: 640px,
    lg: 960px,
    xl: 1200px,
);

$base-transition-time: 0.2s;
$middle-transition-time: 0.4s;
$long-transition-time: 0.6s;
