$base-font-size: 16px;
$base-line-height: 1;

$breakpoints: (
    xs: 320,
    sm: 480,
    md: 640,
    lg: 960,
    xl: 1400,
);

$base-transition-time: 0.2s;
$middle-transition-time: 0.4s;
$long-transition-time: 0.6s;
