@use './base/reset';
@use './base/colors' as *;
@use 'members' as *;

@use '../styles/components/page-header';
@use '../styles/components/main-nav';
@use '../styles/components/button-rounded';
@use '../styles/components/sandwich-button';
@use '../styles/components/lead-section';
@use '../styles/components/slider-section';
@use '../styles/components/main-slider';
@use '../styles/components/slider';
@use '../styles/components/form-section';
@use '../styles/components/feedback-form';
@use '../styles/components/contacts-section';
@use '../styles/components/page-footer';

html, 
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: $font-gropled-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: var(--gray);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('../assets/icons/bg-body.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
    position: relative;
    z-index: 0;

    @include hiddenNativeScrollbar;
}

body::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/icons/bg-body.svg');
    background-repeat: no-repeat;
    background-position: center calc(-142% - 21px);
    background-size: contain;
    transform-origin: center center;
    transform: scaleY(-1);
    z-index: -1;
    pointer-events: none;
}

.main {
    position: relative;
    flex: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}
