@use 'sass:list';

$font-gropled-name: "Gropled";
$font-gropled-family: $font-gropled-name, Arial, sans-serif;

@font-face {
    font-family: $font-gropled-name;
    src: url('../assets/fonts/Gropled-Bold.woff2') format('woff2'),
        url('../assets/fonts/Gropled-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$font-tilda-name: "Tilda Sans VF";
$font-tilda-family: $font-tilda-name, Arial, sans-serif;

@font-face {
    font-family: $font-tilda-name;
    src: url('../assets/fonts/TildaSansVF.woff2') format('woff2'),
        url('../assets/fonts/TildaSansVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
